h1 { font-family: sans-serif }
p { font-weight: 600px; font-size: 3em; font-style: italic; text-decoration: line-through; text-align: center; }
body { font-size: 16px }      
#amar {color: yellow; line-height: 100px;}
#verm {color: red; line-height: 100px;}
#mar {color: brown; line-height: 100px}